.interface{
	margin:auto;
	width: 800px;
	padding: 1em;
	border-radius: 1em;
	background-color: #5bea18;
	border-style: solid;
	margin-bottom: 15px;
	
}
label, button{
	display: inline-block;
	width:90px;

}
#calcdegreediv{
	text-align: center;
}
#grade{
	width: 180px;
}
.modulelabel, #finalYM, #secYmarklbl{
	width:110px;
	margin-left: 20px;
}
.creditlabel{
	margin-left: 20px;
}
#secYmarklbl{
	width:130px;
}
#calcdegreeMark{
	width:130px;
}
.interface div + div{
	margin-top: 1em;
}


#secYMarkLbl{
	margin-left: 30px;
}
#calcCredits, #secYcalcCredits{
	margin-left: 272px;
}

h4{
	text-align: center;
	text-decoration: underline;
}
